<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xigua.center.mapper.ChatMessageMapper">

    <select id="getLastMes" resultType="com.xigua.domain.vo.LastMessageVO">
        select u.id as userId, u.username, u.avatar, cm.message as lastMessage, cm.create_time
        from xg_chat_message cm
                 left join xg_user u on u.id = cm.sender_id and u.del_flag = 0
        where cm.del_flag = 0
          and cm.receiver_id = #{userId}
        order by cm.create_time
    </select>

    <select id="getPrivateChatHistoryMes" resultType="com.xigua.domain.vo.ChatMessageVO">
        select ct.id as chatMessageId, ct.sender_id, ct.receiver_id, ct.message, ct.chat_type, ct.create_time, mr.is_read
        from xg_chat_message ct
        left join xg_message_read mr on mr.message_id = ct.id and mr.receiver_id = ct.receiver_id
        where ct.del_flag = 0
          and ct.chat_type = 1
          and (ct.sender_id = #{senderId} and ct.receiver_id = #{receiverId} or
               ct.sender_id = #{receiverId} and ct.receiver_id = #{senderId})
        order by ct.create_time desc
    </select>

    <select id="getLastMessage" resultType="com.xigua.domain.entity.ChatMessage">
        select cm.id, cm.sender_id, cm.receiver_id, cm.message, cm.is_read, cm.read_time, cm.del_flag,
               cm.create_by, cm.create_time, cm.update_by, cm.update_time
        from xg_chat_message cm
        where cm.del_flag = 0
          and cm.sender_id = #{senderId}
          and cm.receiver_id = #{receiverId}
        order by cm.create_time desc
            limit 1
    </select>
    <select id="getGroupChatHistoryMes" resultType="com.xigua.domain.vo.ChatMessageVO">
        select ct.id as chatMessageId, ct.sender_id, ct.receiver_id, ct.message, ct.chat_type, ct.create_time
        from xg_chat_message ct
        where ct.del_flag = 0
          and ct.chat_type = 2
          and ct.receiver_id = #{groupId}
        order by ct.create_time desc
    </select>
</mapper>
