<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xigua.client.mapper.BotMapper">

    <select id="getCountByUserId" resultType="java.lang.Integer">
        select count(*) from xg_bot where create_by = #{userId} and del_flag = 0
    </select>
    <select id="getBotIdsByUserId" resultType="java.lang.String">
        select id from xg_bot where create_by = #{userId} and del_flag = 0
    </select>
</mapper>
